* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBXILIbCMX2QZ3XN_m1p0ChuBws27OfnPvVqKNG9GnzdIvAqi-nwXzYIaZCfGMsagGc7Gt_h7dXUY-TT7qe6F-NDlt8hqfy2PQ-KLlpyAif2Ub0Y-H3pLz--mj7UV632tuUEI2kEqYi8IatFYL_5L-bXmPRfhLYJoui9TCTCA_ejrhEF9Fxsx1s3xsB_miuwdNG3Pt_wvkXyuBV6_zZARDZrDnuAe6H2ySR7Xx73SFvi0rFnlkcERb9m1jbEBNQeDr5Yj7hYlARIm-e');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* overflow-x: hidden; */
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(10px);
}
.container {
  position: relative;
  z-index: 10;
  max-width: 1200px;
  width: 95%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px ;
}
.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-box input {
  width: 75%;
  max-width: 500px;
  height: 50px;
  border: none;
  border-radius: 30px;
  padding: 0 20px;
  background: rgba(255,255,255,0.1);
  color: white;
  font-size: 16px;
  outline: none;
}
.main-section {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
}
.left, .right {
  flex: 1;
  max-width: 50%;
  min-width: 320px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 15px;
  /* padding: 20px; */
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.left h2 {
  font-size: 28px;
  font-weight: 700;
}
.left p {
  color: rgba(255,255,255,0.8);
}
.left img {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}
.temp {
  display: flex;
  align-items: start;
  justify-content: center;
}
.temp h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
}
.temp span {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
}
.status {
  margin-top: 10px;
  /* font-size: 20px; */
  font-weight: 600;
}
.hl {
  margin-top: 5px;
  color: rgba(255,255,255,0.8);
  font-weight: 500;
}

/* 5 Days Forecast */
.forecast {
  margin-top: 25px;
  width: 100%;
}
.forecast h3 {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: 15px;
  text-align: left;
}
.forecast-list {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  /* padding: 0 20px; */
  padding: 10px 5px;
}
.forecast-list::-webkit-scrollbar{
  display: none;
}
.forecast-item {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background: rgba(255,255,255,0.05);
  padding: 4px 12px;
  border-radius: 10px;
}
.forecast-item img {
  width: 25px;
  height: 25px;
}
.forecast-item p {
  margin: 0;
}

/* Right Section (Hourly + Info) */
.right h3 {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  margin: 15px 20px;
}
.hourly {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding-bottom: 10px;
  scrollbar-width: none;
  padding: 0 20px;
}
.hourly::-webkit-scrollbar{
  display: none;
}
.hour {
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  padding: 10px;
  min-width: 80px;
  text-align: center;
}
.hour img {
  width: 40px;
  height: 40px;
  margin: 8px 0;
}
.hour h4 {
  font-size: 18px;
  font-weight: 700;
}

/* Bottom Info Boxes */
.bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 20px;
  padding-top: 20px;
}
.info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 20px !important;
}
.info-box {
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 10px;
  height: 100px;
}
.info-box p {
  margin: 0;
}
.info-box strong {
  font-size: 16px;
  display: block;
}

/* Responsive */
@media (max-width: 900px) {
  body {
    align-items: start;
  }
  .main-section {
    /* flex-direction: column; */
  }
}
button {
  width: 150px;
  max-width: 25%;
    background: none;
    border: none;
    margin-left: 5px;
    color: white;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(1px);border-radius: 50px;
    padding: 0px 30px;
    transition: .2s ease-in;
}
input::placeholder {
    color: white;
}
button:hover {
    transform: scale(1.06);
    cursor: pointer;
}